@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&family=Open+Sans:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.text-light-grey {
    color: #727272;
    line-height: 1.625rem;
}

.section-title {
    color: #131313;
    font-size: 2.8125rem;
    font-weight: 700;
}

.btn-primary {
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    background: #FF900E;

    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.btn:hover {
    cursor: pointer;
    background: #ff8800;
}

/* header styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
}

/* nav styles */
header nav {
    padding: 50px 240px 50px 228px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 50px;
}

ul li {
    list-style: none;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625;
}

li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
header .banner {
    margin: 52px 240px 85px;
}

.banner .banner-content {
    max-width: 868px;
    text-align: center;
    margin: 0 auto;
}

.banner-content .banner-title {
    font-size: 4rem;
    margin-bottom: 1.25rem;
}

.banner-content .banner-description {
    margin-bottom: 2rem;
}

.banner .banner-img {
    margin-top: 3.125rem;
    padding-bottom: 2.8125;
}

.banner .banner-img img {
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
}

/* main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
    gap: 4.75rem;
}

.teams-container .teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-container .teams-img-container img {
    width: 100%;
    height: 100%;
}

.teams-container .teams-content {
    max-width: 537px;
}

.teams-content .teams-title {
    font-size: 2.8125rem;
    font-weight: 500;
    line-height: normal;
}

.teams-content .teams-title .span-1 {
    color: #131313;
    font-weight: 700;
}

.teams-content .teams-title .span-2 {
    color: #FF900E;
    font-weight: 700;
}

.teams-content .teams-description {
    margin: 1.5rem 0 2rem;
}

/* feature section */
.feature-container {
    margin-top: 8.125rem;
    display: flex;
    gap: 9.125rem;
}

.feature-container .feature-content {
    max-width: 586px;
}

.feature-container .feature-content>h3 {
    padding-left: 1.3125rem;
    border-left: 5px solid #FF900E;
    margin-bottom: 1.5rem;
}

.feature-content .card {
    margin-top: 1.875rem;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 1.875rem 1.875rem 2.625rem 1.875rem;
}

.feature-content .card p {
    max-width: 514px;
}

.feature-container .feature-img {
    position: relative;
}

.feature-img img {
    width: 100%;
    height: 100%;
}

.feature-img .ten-year-badge {
    max-width: 342px;
    max-height: 200px;
    border-radius: 8px;
    background: #FF900E;
    padding: 2.875rem 2.4rem;

    color: #FFF;
    text-align: center;

    position: absolute;
    top: 88%;
    left: -12%;
}

.feature-img .ten-year-badge h2 {
    font-size: 4.0625rem;
    font-weight: 700;
    line-height: 4.375rem;
}

.feature-img .ten-year-badge p {
    font-size: 1.5625rem;
    font-weight: 500;
    line-height: 2.5rem;
}

/* facts styles */
.fact-container {
    margin-top: 10.7rem;
    margin-bottom: 11.255rem;
}

.fact-container .fact-content p {
    margin-top: 1.5rem;
    margin-bottom: 6.255rem;
    max-width: 542px;
}

.fact-container .fact-cards {
    margin-top: 6.25rem;
    display: flex;
    justify-content: space-around;
}

.fact-cards .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 2.87rem 2.3075rem 3.730625rem;
}

.card .card-stats {
    color: #424242;
    font-size: 2.8125rem;
    font-weight: 600;
}

.card .card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}

/* sponsor styles */
.sponsor-container {
    text-align: center;
    margin-bottom: 8.125rem;
}

.sponsor-container .sponsor-content {
    margin: 0 auto 3.125rem;
    max-width: 542px;
}

.sponsor-container .sponsor-content h3 {
    margin-bottom: 1.5rem;
}

.sponsor-container .sponsor-icons-container {
    display: flex;
    justify-content: space-between;
}

/* footer styles */
.footer-container {
    width: 80%;
    min-height: 100px;
    border-radius: 8px;
    background-color: #FFF4E7;
    text-align: center;
    margin: 0 auto 10rem;
    padding: 2.4375rem 0;
}

.footer-container p {
    color: #424242;
    font-size: 1.25rem;
}

/* responsive queries */
@media screen and (max-width: 576px) {

    /* nav styles */
    header nav {
        padding: 20px;
        flex-direction: column;
        gap: 20px;
    }

    nav ul {
        gap: 30px;
    }

    /* banner styles */
    header .banner {
        margin: 20px 10px 50px;
    }

    /* teams styles */
    .teams-container {
        flex-direction: column;
        margin: 0 10px;
        text-align: center;
    }

    /* feature section */
    .feature-container {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .feature-container .feature-content {
        text-align: justify;
    }

    .feature-container .feature-img .ten-year-badge {
        top: 95%;
        left: 0;
    }

    /* facts styles */
    .fact-container {
        margin-top: 16rem;
        margin-left: 10px;
        margin-right: 10px;
    }

    .fact-container .fact-content * {
        text-align: center;
        margin: auto;
    }

    .fact-container .fact-cards {
        flex-direction: column;
        gap: 10px;
    }

    /* sponsor styles */
    .sponsor-container {
        margin: 0 10px;
    }

    .sponsor-container .sponsor-icons-container {
        flex-direction: column;
        gap: 20px;
    }

    /* footer style */
    .footer-container {
        margin: 10rem auto;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {

    /* nav styles */
    header nav {
        padding: 20px;
    }

    nav ul {
        gap: 10px;
    }

    /* banner styles */
    header .banner {
        margin: 20px 20px 50px;
    }

    /* teams styles */
    .teams-container {
        flex-direction: column;
        margin: 0 10px;
        text-align: center;
    }

    /* feature section */
    .feature-container {
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .feature-container .feature-content {
        text-align: justify;
    }

    .feature-container .feature-img .ten-year-badge {
        left: 0;
    }

    /* facts styles */
    .fact-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .fact-container .fact-content * {
        text-align: center;
        margin: auto;
    }

    .fact-container .fact-cards {
        flex-direction: column;
        gap: 10px;
    }

    /* sponsor styles */
    .sponsor-container {
        margin: 0 10px;
    }

    .sponsor-icons-container .sponsor-icon img {
        width: 90%;
    }

    /* footer style */
    .footer-container {
        margin: 10rem auto;
    }
}